
.container-profile{

  width:100vw;
  background-color:lavender;
  height: 100vh;
  padding: 5px;
  margin:10px;
  border-radius: 5px;
  box-shadow: inset;

}

.mb-3 {
  margin-bottom: 5px;
}

#remarks {
  width: 240px;
  margin-left: 5px;
  height: 35px;
  border-radius: 5px;
  background: transparent;
}

#resume {
  width: 25.4;
  margin-top: -50px;
  height: auto;
  
}
.select-field {
  transition: border-color 0.3s ease; /* You can customize the transition effect */
}


.input-label {
  transform: translateY(-1.5px);
}

.input-label {
  color: #3f51b5;
  margin-bottom: -17px;
  margin-left:3px;
  padding-left: 50px;
  
}

.custom-label {
  position: absolute;
  pointer-events: none;
  transition: all 0.3s ease-out;
  transform-origin: top left;
  color: #3f51b5;
  transform: translateY(12px) scale(1);
  margin-left: 20px;
  margin-top: -5px;
}



.custom-label.shrink {
  transform: translateY(0) scale(0.75);
  
  
}


.remarks-field{
  min-height: 55px;
  min-width: 200px;
}

.button-container{
  display: flex;
  flex-direction: row;
  align-self: center;
}





























