/* Add this to your CSS or style file */
.search-form {
  margin-bottom: 20px;
}
.search-input {
  display: flex;
}
.search-input input {
  height: 20%;
  width: 20%;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
  margin-top: 0;
}
.search-input button{
  height: 40%;
  width: 2.5%;
  background-color: #0056B3;
  padding: 8px 0 9.5px 0;
  color: white;
  border: none;
}
.search-input button:hover {
  background-color: #0056B3;
}